/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #000000;
  --main-color: #83b735;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 100px;
  background: #edecea;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
}

.logo span {
  color: var(--main-color);
}

.navbar {
  position: relative;
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
  color: var(--text-color);
}

.navbar a:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
